<div class="searchBar">
    <div class="container">
        <form action="/search" class="searchForm" role="search" method="POST">
            <input 
            type="search"
            aria-label="Search"
            id="searchInput"
            name="searchTerm"
            placeholder="Search">
        </form>
        <div class="header_button" id="searchClose">
        <button>Close</button>
    </div>
    </div>
</div> 

<!-- <div class="search-box">
    <button class="btn-search"><i class="fas fa-search"></i></button>
    <input type="text" class="input-search" placeholder="Type to Search...">
  </div>
 -->
